@model MvcOnlineTicariOtomasyon.Models.Class.Product
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Ürün Güncelleme</h2>
<br />

@using (Html.BeginForm("UrunGuncelle", "Product", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ProductId)
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductBrand)
    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductStock)
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductFirstPrice)
    @Html.TextBoxFor(x => x.ProductFirstPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductSalePrice)
    @Html.TextBoxFor(x => x.ProductSalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category.CategoryId)
    @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
   @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductImage)
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>

}

