@model MvcOnlineTicariOtomasyon.Models.Class.Product
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<h2>Yeni Ürun</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductBrand)
    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductStock)
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductFirstPrice)
    @Html.TextBoxFor(x => x.ProductFirstPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductSalePrice)
    @Html.TextBoxFor(x => x.ProductSalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category.CategoryId)
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.ProductImage)
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" id="Btn1">Ekle</button>
</form>



<script>
    $('#Btn1').click(function () {
        alert("Ürün başarılı bir şekilde eklendi")
    });
</script>

