@using MvcOnlineTicariOtomasyon.Models.Class;
@model List<SalesAction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Müşteri</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    @foreach (var sa in Model)
    {
        <tr>
            <td>@sa.SaleId</td>
            <td>
                @sa.Product.ProductName
            </td>
            <td>@sa.Customer.CustomerName @sa.Customer.CustomerSurname</td>
            <td>@sa.Staff.StaffName @sa.Staff.StaffSurname</td>
            <td>@sa.Piece</td>
            <td>@sa.Price</td>
            <td>@sa.TotalAmount</td>
            <td>@sa.Date</td>

            <td>
                <a href="/Sale/SatisGetir/@sa.SaleId" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Sale/SatisDetay/@sa.SaleId" class="btn btn-warning">Detay</a>
            </td>

        </tr>
    }

</table>
<a href="/Sale/YeniSatis" class="btn btn-primary">Yeni Satış Yap</a>
<!--Jquery Script-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<script>
    $('#tbl1').dataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });
</script>